body{
    background-color: lightcyan;
}
.select{
    padding: 8px 15px;
    width: 200px;
    height: 50px;
    font-size: 18px;
}
#a1{
    font-size: 20px;
    margin-left: 80px;
    margin-right: 90px;
    color: black;
    line-height: 1.9;
    font-family: sans-serif;
}
#a2{
    font-size: 18px;
    margin-left: 60px;
    margin-right: 60px;
    color: black;
    line-height: 1.5;
    font-family: sans-serif;
}
table{
    border-collapse: collapse;
}

input[type="text"]
{
    width: 80px;
    height: 35px;
}
td,tr{
    border: 3px solid black;
    padding: 6px;
    color: black;
}
