
.exp{
	font-family: serif;
}
#e{
	font-size: x-large;
	margin-left: 85px;
}
#rm,#gs{
	color: darkblue;
	text-align: center;
	display: block;
	font-weight: bold;
}
#rm1{
	color: red;
	text-align: center;
	display: block;
}


button{
	margin-left: 110px;
	align :center;
}
#rm2{
	display: block;
	font-size: x-large;
	font-weight: bold;
	color:black;
	font-family: "Arial", Helvetica;
}
span{
	display: block;
	text-align: center;
}


