.exp{
	font-family: serif;
}
#e{
	font-size: x-large;
	margin-left: 75px;
}
#rm,#gs{
	color: darkblue;
	text-align: center;
	display: block;
	font-weight: bold;
}
#rm1{
	color: red;
	text-align: center;
	display: block;
}


button{
	margin-left: 100px;
	align :center;
}
#rm2{
	display: block;
	font-size: x-large;
	font-weight: bold;
	color:black;
	font-family: "Arial", Helvetica;
}
span{
	display: block;
	text-align: center;
}
#s8{
     
     position: absolute;
    width: 900px;
    top: 56%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: green;
    
     
}

#s9{
     
    
   position: absolute;
    width: 900px;
    top: 58%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: red;
    font-style: italic;
     
}